sum = 0
while (True):
	userInput = input("Enter item price or press q to quit: \n")
	if (userInput!='q'):
		sum = sum + int(userInput)
		print(f"Order total so far: {sum}")
	else:
		print(f"Your  total  bill is {sum}. Thankyou visit again ")
		break
